footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #222121;
  padding: 15px;
}

footer p {
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer a {
  color: #03fe70;
}
