@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Courier+Prime&family=Exo:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Exo;
}

.header {
  background-color: #262626;
  height: 18vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 25px;
}

.container-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-logo h2 {
  color: white;
}

.container-logo p {
  color: #03fe70;
}

.logo {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 50px;
}

nav ul {
  display: flex;
}

ul li {
  list-style-type: none;
}

.links-nav {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-family: Exo;
  font-weight: bold;
  padding: 5px 10px;
  transition: 0.5s;
  border-radius: 15px;
}

.links-nav:hover {
  color: black;
  background-color: #03fe70;
}

.menu-hamburguer {
  cursor: pointer;
  width: 30px;
  display: none;
}

.menu {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 1;
  position: absolute;
  top: 0;
}

.links-menu {
  text-decoration: none;
  margin-bottom: 40px;
  color: white;
  font-size: 30px;
}

.btn-fechar-menu {
  position: absolute;
  top: 5px;
  right: 25px;
  cursor: pointer;
}

/*//////////////////////// MEDIA QUERIES  ////////////////////// */

@media (max-width: 1080px) {
  .header {
    height: 8vh;
  }

  .logo {
    width: 90px;
  }

  .container-logo h2 {
    font-size: 30px;
  }

  .container-logo p {
    font-size: 20px;
  }

  .links-nav {
    font-size: 30px;
  }
}

@media (max-width: 660px) {
  .logo {
    width: 40px;
  }

  .container-logo h2 {
    font-size: 17px;
  }

  .container-logo p {
    font-size: 13px;
  }
}

@media (max-width: 631px) {
  .logo {
    width: 30px;
  }

  .container-logo h2 {
    font-size: 14px;
  }

  .container-logo p {
    font-size: 12px;
  }
}

@media (max-width: 605px) {
  .logo {
    width: 35px;
  }

  .container-logo h2 {
    font-size: 17px;
  }

  .container-logo p {
    font-size: 15px;
  }

  .links-nav {
    font-size: 13px;
    margin-right: 5px;
  }
}

@media (max-width: 550px) {
  .logo {
    width: 30px;
  }

  .container-logo h2 {
    font-size: 13px;
  }

  .container-logo p {
    font-size: 12px;
  }

  .links-nav {
    font-size: 13px;
    margin-right: 5px;
  }
}

@media (max-width: 500px) {
  .logo {
    display: none;
  }

  .links-nav {
    display: none;
  }

  .container-logo h2 {
    display: none;
  }

  .container-logo p {
    display: none;
  }

  .header {
    justify-content: center;
  }

  .menu-hamburguer {
    display: block;
  }
}
