@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Courier+Prime&family=Exo:wght@400;500;700&display=swap");

.about {
  display: flex;
  flex-direction: column;
  background-color: #262626;
  padding: 10px 20px;
  width: 100%;
}

.container-about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
}

.container-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  padding: 0px 30px;
}

.container-p a {
  margin-top: 10px;
  text-decoration: none;
}

.p {
  line-height: 43px;
  font-size: 28px;
  text-align: justify;
  margin-top: 20px;
  color: white;
}

.p span {
  color: #03fe70;
}

.abraham {
  width: 300px;
  border-radius: 10px;
}

.btn-email {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 110px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
  margin-top: 40px;
}

.btn-email:hover {
  background-color: #2e2d2d;
}

.containter-btn-email {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containter-btn-email img {
  height: 30px;
  margin-right: 5px;
}

.containter-btn-email p {
  color: white;
  font-size: 16px;
}

.txt-email {
  display: none;
  position: absolute;
  color: black;
  font-weight: bold;
  margin-left: 240px;
  z-index: 1;
  border-radius: 15px;
  padding: 3px 10px;
}

/*/////////////////// MEDIA QUERIES //////////////*/

@media (max-width: 1090px) {
  .p {
    font-size: 22px;
  }

  .container-p {
    width: 500px;
  }
}

@media (max-width: 930px) {
  .container-about {
    padding: 20px 0px;
  }

  .p {
    font-size: 18px;
    line-height: 30px;
  }

  .container-p {
    width: 400px;
  }

  .btn-email {
    align-self: flex-start;
  }
}

@media (max-width: 850px) {
  .abraham {
    width: 270px;
  }
}

@media (max-width: 810px) {
  .p {
    font-size: 15px;
  }

  .container-p {
    width: 400px;
  }
}

@media (max-width: 690px) {
  .container-about {
    padding: 0px 0px;
  }

  .container-about {
    flex-direction: column;
  }

  .container-img-about {
    margin-top: 40px;
  }

  .container-p {
    width: 500px;
  }
}

@media (max-width: 520px) {
  .container-p {
    width: 400px;
  }
}

@media (max-width: 410px) {
  .container-p {
    width: 350px;
  }

  .p {
    line-height: 25px;
    font-size: 15px;
  }

  .txt-email {
    font-size: 12px;
    margin-left: 200px;
  }
}

@media (max-width: 350px) {
  .container-p {
    width: 300px;
  }

  .p {
    line-height: 25px;
    font-size: 15px;
    text-align: left;
  }

  .txt-email {
    font-size: 11px;
    margin-left: 155px;
  }
}
